In [1]:
# Indexing

In [4]:
a = "smaosa pakora"

In [5]:
a[1]

'm'

In [6]:
a[6]

' '

In [7]:
a[9]

'k'

In [8]:
a[2:7]

'aosa '

In [9]:
# last index is exclusive
a[:6]

'smaosa'

In [11]:
a[5:]

'a pakora'

In [12]:
a[-2]

'r'

In [13]:
a[-1:-6]

''

In [19]:
a[-6:]

'pakora'

# string methods

In [20]:
food = 'biryani'
food.upper()

'BIRYANI'

In [21]:
len(food)

7

In [22]:
food.lower()

'biryani'

In [24]:
food.casefold()

'biryani'

In [25]:
food.capitalize()

'Biryani'

In [28]:
food.replace('b','sh')

'shiryani'

In [29]:
food.count('i')

2

# finding an index number in string

In [31]:
food.find('b')

0

In [35]:
# how to split a string
food = "i love biryani raita pepsi"
food.split(",")

['i love biryani raita pepsi']

### Basic Data structure in python
1. Tuple
2. list
3. dictionary
4. set

### 1. tuple
- order collection of elements
- enclosed in () round braces/ parenthesis
- different kind of data types we can store in tuples
- once elements are store you cannot change them

In [36]:
tuple1 = ("smosa",33,44.6,True)
for tuple in tuple1:
    print(tuple)

smosa
33
44.6
True

In [37]:
# type of tuple
type(tuple1)

tuple

### indexing in tuple

In [38]:
tuple1[1]

33

In [49]:
tuple1[0:4]

('smosa', 33, 44.6, True)

In [50]:
len(tuple1)

4

In [56]:
tuple2 = (2, "baba Ammar", 3.4, False)
# we can add the two or more tuples     or concatinate
tup+tuple1*2

(2, 'baba Ammar', 3.4, False, 'smosa', 33, 44.6, True, 'smosa', 33, 44.6, True)

In [57]:
tuple3=(20,30,40,50,60,70,80)
#minimum
min(tuple3)

20

In [59]:
# maximum
max(tuple3)

80

## 2 lists
- orderd collection of lists
- enclosed in [] square braces
- mutateable - you change the values

In [61]:
list1 = ['name',33.4,444,True]
list1

['name', 33.4, 444, True]

In [62]:
type(list1)

list

In [63]:
len(list1)

4

In [67]:
list2 =[3,5,"Ammar", "codanics",478,54.3, False]
list1+list2*2

['name',
 33.4,
 444,
 True,
 3,
 5,
 'Ammar',
 'codanics',
 478,
 54.3,
 False,
 3,
 5,
 'Ammar',
 'codanics',
 478,
 54.3,
 False]

In [69]:
list1.append(22)
list1

['name', 33.4, 444, True, 22, 22]

In [74]:
list1.pop(2)

True

In [75]:
list1.copy()

['name', 444, 22, 22]

In [78]:
list1.reverse()

In [79]:
list1

[22, 22, 444, 'name']

In [82]:
list3 = [20,30,30,40,90,88,83,18,48]
list3

[20, 30, 30, 40, 90, 88, 83, 18, 48]

In [83]:
min(list3)

18

In [86]:
# sorting a list
list3.sort()
list3

[18, 20, 30, 30, 40, 48, 83, 88, 90]

In [87]:
list3*3
list3

[18, 20, 30, 30, 40, 48, 83, 88, 90]

In [88]:
list3*2
list3

[18, 20, 30, 30, 40, 48, 83, 88, 90]

In [89]:
list3

[18, 20, 30, 30, 40, 48, 83, 88, 90]

In [92]:
list3

[18, 20, 30, 30, 40, 48, 83, 88, 90]

In [91]:
list1+list2+list3

[22,
 22,
 444,
 'name',
 3,
 5,
 'Ammar',
 'codanics',
 478,
 54.3,
 False,
 18,
 20,
 30,
 30,
 40,
 48,
 83,
 88,
 90]

### 3 Dictionaries
- an unordered collection of elements
- an key and value
- enclosed in curley braces{}
- mutatable

In [93]:
# food and their prices
food1 = {"smosa":30,"pakora":100, "raita": 20, "salad":20}
type(food1)

dict

In [98]:
 food1.values()

dict_values([30, 100, 20, 20])

In [99]:
food1["tikki"] = 120
food1

{'smosa': 30, 'pakora': 100, 'raita': 20, 'salad': 20, 'tikki': 120}

In [100]:
food2 = {"dates":50,"chocolates":200, "swayan":1000}

In [102]:
# concatinate of dictionaries
food1.update(food2)
food1

{'smosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 20,
 'tikki': 120,
 'dates': 50,
 'chocolates': 200,
 'swayan': 1000}

### Set
- unordered and unindexed
- curley braces are used 
- no duplicates are allowed

In [103]:
s1 = {1,2.2,5.2,"Ammar","codanics","Faisalabad", "Jawad",True}
s2 = {2,4,5,6,7}
s1.update(s2)
s1

{1, 2, 2.2, 4, 5, 5.2, 6, 7, 'Ammar', 'Faisalabad', 'Jawad', 'codanics'}

In [106]:
s1.add("shahzad")

In [107]:
s1

{1,
 2,
 2.2,
 4,
 5,
 5.2,
 6,
 7,
 'Ammar',
 'Faisalabad',
 'Jawad',
 'codanics',
 'shahzad'}